/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  position: relative;
}

body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
}

.wrapper {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem; 
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
}

@media (max-width:378px) {
	.quote {
	  font-size: 0.5rem;
	  text-align: center;
	}
	.author {
	  font-size: 1.0rem;
	}
	.wrapper {
  padding-top: 1rem;
	}
	.btn{
		display: block;
	}
}
@media (min-width:1800px){
	.wrapper {
	padding-top: 12rem;
	top: 150px;
	}
}



.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  border-color: #ccc;
  white-space: nowrap;
  /*vertical-align: middle;
*/}


.btn-en{
	background-color: #337ab7;
    border-color: white;
	color: white;
	
}
.btn-en:hover{
	background-color: white;
    border-color: black;
	color: black;
}


.btn-fr{
	background-color: #4cae4c;
	border-color: white;
	color: white;
}
.btn-fr:hover{
	background-color: white;
	border-color: black;
	color: black;
}
.btn-de{
	background-color: #f0ad4e;
	border-color: white;
	color: white;
}

.btn-de:hover{
	background-color: white;
	border-color: black;
	color: black;
}


.btn-hu{
	background-color: #d9534f;
	border-color: white;
	color: white;
}
.btn-hu:hover{
	background-color: white;
	border-color: black;
	color: black;
}
